@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .paused {
      animation-play-state: paused;
    }
  }
  
  #root .ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
  }
  
  /* Snow Theme */
  #root .ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  
  #root .ql-editor {
    min-height: 18em;
  }

.intl-tel-input {
    width: 100% !important;
    border: 1px solid #cccedd !important;
    border-radius: 8px !important;
    outline: none !important;
    margin-bottom: 10px !important;
}

.form-control {
    width: 100% !important;
    border-radius: 8px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    outline: none !important;
}

.phone-input-container {
    position: relative !important;
}

.error-message {
    position: absolute !important;
    background-color: white !important;
    bottom: 0 !important;
    right: 0 !important;
    color: red !important;
    font-size: 12px !important;
}
